* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}



h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.centrar,
.cont {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

.cont-principal {
    margin: 0;
    background-attachment: fixed;
}

.cont-tienda {
    display: flex;
    flex-direction: row;
}

.cont__filtros {
    width: 30%;
}

.filtro {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;



    &__titulo {
        width: 100%;
        font-size: 1em;
        margin: none;

        h2 {
            text-align: left;

        }
    }

    &>div {
        display: flex;
        flex-direction: column;
    }

    &__opcion {
        display: flex;
        margin: 10px 0;
    }


    /*

    &__relevancia {}

    &__pupularidad {}

    &__pupularidad {}

    &__pupularidad {}
*/
}



.filtro__icono {
    width: 100px;
    height: 100px;
    display: none;

    font-size: 100px;
    font-weight: bold;
    /* line-height: 94px; */
    /* text-align: center; */

    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
    }



}

//.list-productos {}

.productos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
}

.con-producto {
    display: flex;

    &__imagen {

        width: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.boton__carrito {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cabecera__prin__cont__cabecera {
    position: relative;

    &__logo {
        img {
            width: 180px;
        }
    }
}


.articulo {

    width: 200px;
    height: 300px;
    padding: 15px;
    overflow: hidden;
    transition: all .5s ease;

    &:hover {
        padding: 0;
    }

    &__imagen {
        margin: 0;
        height: 50%;

        &__imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {

                height: 100%;
            }
        }
    }

    &__informacion {
        height: 45%;
        margin: 0;
        position: relative;
        background: #397BB5;
        color: white;
        padding: 10px;

        &__agregar {
            position: absolute;
            right: 10px;
            top: -25px;
            background: #31AD6B;
            border-radius: 50px;
            width: 50px;
            height: 50px;
            border: none;
            font-size: 3em;
            line-height: 15px;
            color: white;

            &:hover {
                background: #87C5D2;
                cursor: pointer;
            }
        }

        &__titulo {
            margin-top: 3px;
            text-transform: lowercase;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 70px;
         

        
            &:first-letter {
                text-transform: uppercase;
            }
        }


        //  &__descripcion {}

        &__precio {
            border-bottom: 1px solid white;
        }

    }

}


/**Navegación principal*/

.cabecera__prin__cont__cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion__prin {
    padding: 15px;

    & ul {
        display: flex;

        & li {

            & a {
                color: white;
                text-decoration: none;
                font-size: 90%;
                padding: 15px;
                transition: all .5s ease;

                &:hover {
                    font-size: 100%;

                }
            }
        }
    }
}

.menu {

    &__navegacion {
        display: none;
    }

    &__icono {
        width: 45px;
    }
}

#menu {
    display: none;

    &>.seleccionado {
        display: flex;
    }
}

.menu__navegacion {
    .navegacion__prin ul {
        flex-direction: column;
    }
}

#menu {
    flex-direction: column;
    z-index: 100;

    & .menu__icono {
        margin: 30px 10px;
    }
}

.menu__navegacion {
    display: none;
    background: #397BB5;
    height: 100%;
    width: 300px;

}

#filtros,
#carrito {
    display: none;
}


.filtro__navegacion {
    display: none;
    width: 100%;
    height: 100%;
    ;
    left: 0;
    top: 95px;
    background: rgb(255, 181, 49);
}

.seleccionado {
    .navegacion__prin {
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background: #31AD6B;

            &:hover {
                background: #87C5D2;
            }
        }

    }
}


.informacion__envio,
.informacion__llegada,
.informacion__compra,
.informacion__social__valorar {
    display: flex;
}

.icono {

    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;

    }
}

.boton {

    width: 200px;
    height: 50px;
}

.verde {
    background: #31AD68;
}

.gris {
    color: black;
    background: #FFFFFF;
}

.rojo {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1em;
    width: 150px;
    background: red;
    color: #FFFFFF;
}

.filtro__navegacion {
    display: none;
}

.listaCarrito{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li{
        width: 85%;
        margin: 10px;
    }
}

.p{
    position: relative;
    display: flex;
   
 
    max-height: 200px;
    border-radius: 50px;
    border: 3px solid #397BB5;
    overflow: hidden;

    &__informacion{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    &__contenido{
        overflow: hidden;
        width: 80%;
        height: 100%;
    }

    &__imagen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        text-align: center;

        img{
            height: 80%;
            width: 100%;
            max-height: 200px;
        }
    }

}


.carrito__total div{
    display: flex;
}


.subir {
    font-size: 3em;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50px;
    background: gray;
    color: white;
}

.subir:hover {
    background: lightgrey;
    cursor: pointer;
    color: black;
}

.con-producto{
    .articulo__informacion__titulo{
        font-size: 2em;
    }

}

.navegacion__pedido{

    margin: 0;

    &__lista{
        display: flex;
        width: 100%;
        height: 20%;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 33.33%;
        background: #397BB5;
    }
}

.pantalla{
    &__formulario{
        height: 80%;
    }

    &__pedido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 100%;
        min-height: 400px;
        margin: 0;
    }

    &__centrado{
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            margin-right: 30px;
        }
    }
}

.zona_navegacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista__p label{
    width: 400px;
    h2{
        text-align: left;
    }

    input{
        height: 40px;
        width: 100%;
    }
  
}

.carrito__icono{
    position: relative;
    p{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        background: red;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }
}  


.bloque__carrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p{
        color: white;
        font-size: 1.5em;
    }
}

