<form action="/enviar" method="POST">

<label for="">Nombre</label>
<input type="text" value="" placeholder="Ingresa tu nombre">

<label for="">Correo Electronico</label>
<input type="text" value="" placeholder="Ingrese su Email">

<label for="">Telefono</label>
<input type="text" value="" placeholder="Ingresa tu telefono">

<input type="hidden" value="">


</form>