<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/tienda.css">
</head>

<body>
    <header class="cabecera__prin" style="background-image: url('/images/background-tienda.png');">
        <div class="centrar">
            <article class="cabecera__prin__cont">
                <section class="cabecera__prin__cont__cabecera">
                    <div class="cabecera__prin__cont__cabecera__logo">
                        <img src="/images/Logo.png" alt="logo" />
                    </div>
                    <div class="cabecera__prin__cont__cabecera__navegacion">
                        <nav class="navegacion__prin">
                            <ul>
                                <li class="navegacion__prin__item">
                                    <a id="nav__inicio" href="#">Inicio</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__quien" href="#">¿Quienes somos?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__porque" href="#">¿Porque adoptar?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__tienda" href="#">Tienda</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__contacto" href="#">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </article>
            <div class="boton__carrito"><button>Carrito</button></div>
        </div>
    </header>



<form action="/enviar" method="POST">

<label for="">Nombre</label>
<input type="text" value="" placeholder="Ingresa tu nombre">



<label for="">Correo Electronico</label>
<input type="text" value="" placeholder="Ingrese su Email">

<label for="">Telefono</label>
<input type="text" value="" placeholder="Ingresa tu telefono">

<input type="hidden" value="">


</form>



</body>

</html>