<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>

    <link rel="stylesheet" href="/css/tienda.css">
    <link rel="stylesheet" href="/css/resposiveTienda.css">
</head>

<body>
    <div class="cont-principal" style="background-image: url('/images/background-tienda.png');">

        <header class="cabecera__prin">
            <div class="centrar">
                <article class="cabecera__prin__cont">
                    <section class="cabecera__prin__cont__cabecera">
                        <div id="menu">
                            <div class="menu__icono"><img src="/images/iconos/icon-menu.svg" alt=""></div>
                        </div>
                        <div class="cabecera__prin__cont__cabecera__logo">
                            <img src="/images/Logo.png" alt="logo" />
                        </div>
                        <div class="cabecera__prin__cont__cabecera__navegacion">
                            <nav class="navegacion__prin">
                                <ul>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__inicio" href="/">Inicio</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__quien" href="/">¿Quienes somos?</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__porque" href="/porque">¿Porque adoptar?</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__tienda" href="/tienda">Tienda</a>
                                    </li>
                                    <li class="navegacion__prin__item">
                                        <a id="nav__contacto" href="/">Contacto</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="filtros">
                            <div class="icono"><img src="/images/iconos/icon_filtro.svg" alt=""></div>

                        </div>
                        <a href="/carrito">
                            <div id="carrito">
                                <div class="carrito__icono icono">
                                    <img src="/images/iconos/icon-carrito.svg" alt="">
                                </div>
                                <div class="carrito__navegacion"></div>
                            </div>
                        </a>

                    </section>
                    <section class="zona__navegacion">
                        <div class="menu__navegacion"></div>
                        <div class="filtro__navegacion"></div>
                    </section>

                </article>
            </div>
        </header>

        <h1>Cannio</h1>
        <h2>Nirvanna se han unido en una campaña y para ello trae un concierto portatil para las personas</h2>


        <div id="juego"></div>
        <div id="juego2"></div>
        <div id="juego3"></div>

        <script src="/lib/easeljs.js"></script>
        <script src="/lib/preloadjs.js"></script>
        <script src="/lib/soundjs.js"></script>
        <script src="/lib/tweenjs.js"></script>
        <script src="/js/ruleta.js"></script>

        <script>

            window.addEventListener("load", function () {
                let juego = new Ruleta();
                juego.agregar(200, 200, "/img/nir-04.png", "/sound/comeasur/bateria.mp3");
                juego.agregar(200, 500, "/img/nir-03.png", "/sound/comeasur/guitarra.mp3");
                juego.agregar(1000, 200, "/img/nir-08.png", "/sound/comeasur/voz.mp3");
                
                juego.incluirEn("#juego");


                let juego2 = new Ruleta();
                juego2.agregar(200, 200, "/img/nir-01.png", "/sound/heart/bateria.mp3");
                juego2.agregar(200, 500, "/img/nir-09.png", "/sound/heart/guitarra.mp3");
                juego2.agregar(1000, 200, "/img/nir-02.png", "/sound/heart/voz.mp3");
                juego2.incluirEn("#juego2");


                let juego3 = new Ruleta();
                juego3.agregar(200, 200, "/img/nir-07.png", "/sound/smells/bateria.mp3");
                juego3.agregar(200, 500, "/img/nir-06.png", "/sound/smells/bajo.mp3");
                juego3.agregar(1000, 200, "/img/nir-05.png", "/sound/smells/voz.mp3");
                juego3.incluirEn("#juego3");


            });

        </script>

    </div>

    <footer>
        <div class="centrar">
            <article class="pie-pagina">
                <section class="subir">▲</section>
                <section class="pie-pagina__logo">
                    <img src="/images/logo-negativo.png" alt="" />
                </section>
                <section class="pie-pagina__contacto">
                    <ul class="info-contacto">
                        <li><strong>Telefono</strong> 313 211 2323</li>
                        <li><strong>Móvil:</strong> 315 211 423 23</li>
                        <li><strong>E-mail:</strong> cannio@info.correo.com</li>
                        <li><strong>Cali - Colombia</strong></li>
                    </ul>
                </section>
            </article>
        </div>
        <div class="pie-pagina__derechos">
            <h2 class="centrar">Todos los derechas reservador</h2>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>


    </script>
</body>

</html>