<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
</head>

<body>

    <div class="articulo">
        <a href="/tienda/{{titulo}}">
            <div class="articulo__imagen">
                <img src="./images/productos/correa.png" alt="">
            </div>
        </a>

        <div class="articulo__imagen">
            <button>Agregar</button>
            <h3>{{titulo}}</h3>
            <p>Descripcion del producto</p>
            <p>{{precio}}</p>
        </div>
    </div>

</body>

</html>