<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="./css/principal.css">
    <link rel="stylesheet" href="./css/tienda.css">
</head>

<body>
    <header class="cabecera__prin" style="background-image: url('./images/background-tienda.png');">
        <div class="centrar">
            <article class="cabecera__prin__cont">
                <section class="cabecera__prin__cont__cabecera">
                    <div class="cabecera__prin__cont__cabecera__logo">
                        <img src="./images/Logo.png" alt="logo" />
                    </div>
                    <div class="cabecera__prin__cont__cabecera__navegacion">
                        <nav class="navegacion__prin">
                            <ul>
                                <li class="navegacion__prin__item">
                                    <a id="nav__inicio" href="#">Inicio</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__quien" href="#">¿Quienes somos?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__porque" href="#">¿Porque adoptar?</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__tienda" href="#">Tienda</a>
                                </li>
                                <li class="navegacion__prin__item">
                                    <a id="nav__contacto" href="#">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>



            </article>
        </div>
    </header>
    <h1>Tienda</h1>
    <div class="cont-tienda">
        <div class="filtros">
            <header>
                <h2>Tienda</h2>
                <button>Carrito</button>
            </header>
            <div class="filtro__pupularidad">
                <form action="">
                    <input type="radio" name="" id="">
                    Mas relevantes
                    </input>
                    <input type="radio" name="" id="">
                    Mayor precio
                    </input>
                    <input type="radio" name="" id="">
                    Mas baratos
                    </input>
                </form>
            </div>
            <div class="filtro__etapa">

            </div>
            <div class="filtro__marca">

            </div>
            <div class="filtro__envio">

            </div>

        </div>
        <div class="list-productos">
            <h2>Contenido Tienda</h2>
        </div>
    </div>

    

</body>

</html>