* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  font-size: 2em;
}

div {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin: 10px 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.centrar,
.cont {
  margin: auto;
  max-width: 1280px;
  position: relative;
}

.cabecera__prin {
  background-size: cover;
}

.cabecera__prin__cont__cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.cabecera__prin__cont__cabecera__logo {
  width: 30%;
}

.cabecera__prin__cont__cabecera__navegacion {
  width: 70%;
}

.navegacion__prin ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.navegacion__prin li {
  list-style: none;
  display: block;
}

.navegacion__prin__item a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  display: block;
  min-height: 70px;
  margin: 0 20px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navegacion__prin__item a:hover {
  background: white;
  color: black;
  border-radius: 10px;
}

.cabecera__prin__cont__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabecera__prin__cont__formulario__principal {
  text-align: center;
  margin: auto;
  color: white;
  padding: 50px;
  width: 50%;
}

.cabecera__prin__cont__formulario__registro {
  width: 50%;
}

.boton {
  font-size: 1.5em;
  color: white;
  background: #EE9D17;
  border: none;
  padding: 8px 30px;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.boton:hover {
  cursor: pointer;
  background: #CBCB41;
}

.formulario__suscripcion {
  background: rgba(96, 76, 52, 0.603);
  padding: 20px;
  border-radius: 30px;
  color: white;
  text-align: center;
}

.formulario__suscripcion input,
.formulario__suscripcion textarea {
  color: black;
  height: 40px;
  width: 300px;
  margin: 5px auto;
}

.formulario__suscripcion textarea {
  height: 100px;
}

.redes {
  position: absolute;
  right: 0;
  z-index: 100000000;
}

.cont * {
  margin: 20px 10px;
}

.cont__somos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont__somos__informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.cont__somos__informacion * {
  margin: 40px auto;
}

.cont__como-ayudar {
  padding: 50px;
  background: #F2F2F2;
}

.cont__como-ayudar * {
  margin: 40px auto;
}

.cont__oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.oferta {
  -webkit-box-shadow: 0px 0px 45px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 45px 3px rgba(0, 0, 0, 0.75);
  margin: 10px;
  padding: 50px;
  border-radius: 50px;
}

.oferta li {
  list-style-image: url("../images/lista.png");
}

.oferta .boton {
  width: 100%;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  /* img,
    div {
        width: 400px;
        height: 300px;
    }
    */
}

.galeria img, .galeria div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 300px;
  max-width: 33%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria img:first-child {
  width: 67%;
  height: 400px;
  max-width: 100%;
}

.galeria div:first-of-type {
  width: 30%;
  height: 400px;
}

.galeria div:first-of-type img {
  max-width: 100%;
}

.galeria .vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}

.galeria .vertical img {
  width: 100%;
  height: 50%;
  margin: 0px;
  max-width: 100%;
}

.cont__testimonios__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonio__imagen {
  text-align: center;
  padding: 50px;
}

.testimonio__imagen img {
  max-width: 200px;
}

.cont_tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.producto {
  background: #5C9F79;
  margin: 0 20px;
  width: 30%;
  border-radius: 30px;
}

.producto img {
  width: 100%;
}

.publicidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  width: 30%;
  background: #D8EFE2;
  font-size: 3em;
  text-align: center;
}

.publicidad section {
  margin: 0px;
}

.publicidad img {
  height: 100%;
}

.publicidad * {
  margin: auto;
}

footer {
  background: #F2F2F2;
}

.pie-pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.pie-pagina__contacto {
  text-align: center;
  margin: auto;
  font-size: 2em;
}

.pie-pagina__derechos {
  background: #C6C6C6;
}
/*# sourceMappingURL=principal.css.map */