* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}



h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}

div {
    margin: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 10px 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.centrar,
.cont {
    margin: auto;
    max-width: 1280px;
    position: relative;
}

.cabecera__prin {
    background-size: cover;
    background-attachment: fixed;
}

.cabecera__prin__cont {}

.cabecera__prin__cont__cabecera {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.cabecera__prin__cont__cabecera__logo {
    width: 30%;
}

.cabecera__prin__cont__cabecera__navegacion {
    width: 70%;
}

.navegacion__prin ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navegacion__prin li {
    list-style: none;
    display: block;
}

.navegacion__prin__item {
    a {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px;
        display: block;
        min-height: 70px;
        margin: 0 20px;
        transition: all .5s ease;
    }
    a:hover {
        background: white;
        color: black;
        border-radius: 10px;
        text-decoration: none;
    }
}

.cabecera__prin__cont__formulario {
    display: flex;
}

.cabecera__prin__cont__formulario__principal {
    text-align: center;
    margin: auto;
    color: white;
    padding: 50px;
    width: 50%;
}

.cabecera__prin__cont__formulario__registro {
    width: 50%;
}

.boton {
    font-size: 1.5em;
    color: white;
    background: #EE9D17;
    border: none;
    padding: 8px 30px;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    transition: all .5s ease;
}

.boton:hover {
    cursor: pointer;
    background: #CBCB41;
}

.formulario__suscripcion {
    background: rgba(96, 76, 52, 0.603);
    padding: 20px;
    border-radius: 30px;
    color: white;
    text-align: center;
    input,
    textarea {
        color: black;
        height: 40px;
        width: 300px;
        margin: 5px auto;
    }
    textarea {
        height: 100px;
    }
}

.formulario__suscripcion__suscribir {}

.visitas__contador {}

.redes {
    position: fixed;
    right: 0;
    top: 500px;
    z-index: 100000000;
}

.redes__item {
    & img {
        width: 40px;
        height: 40px;
        transition: all .5s ease;
    }
    & img:hover {
        width: 80px;
        height: 80px;
    }
}

.cont {
    * {
        margin: 20px 10px;
    }
}

.cont__somos {
    display: flex;
}

.cont__somos__video {}

.cont__somos__informacion {
    display: flex;
    flex-direction: column;
    padding: 50px;
    * {
        margin: 40px auto;
    }
}

.cont__como-ayudar {
    padding: 50px;
    background: #F2F2F2;
    * {
        margin: 40px auto;
    }
}

.cont__como-ayudar__informacion {}

.separador {
    border: 3px solid #2FAC66;
    margin: 100px 20%;
}

.cont__como-ayudar__informacion__titulo {}

.cont__como-ayudar__informacion__parrafo {}

.cont__oferta {
    display: flex;
    justify-content: space-around;
}

.oferta {
    box-shadow: 0px 0px 45px 3px rgba(0, 0, 0, 0.75);
    margin: 10px;
    padding: 50px;
    border-radius: 50px;
    li {
        list-style-image: url('../images/lista.png');
    }
    .boton {
        width: 100%;
    }
}

.oferta__titulo {}

.oferta__caracteristica {}

.oferta__caracteristica__item {}

.cont__galeria {}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .5s ease;
    img,
    div {
        flex-basis: 30%;
        height: 300px;
        max-width: 33%;
        align-content: center;
        margin: 3px;
        object-fit: cover;
    }
    img:first-child {
        width: 67%;
        height: 400px;
        max-width: 100%;
    }
    div:first-of-type {
        width: 30%;
        height: 400px;
        img {
            max-width: 100%;
        }
    }
    /* img,
    div {
        width: 400px;
        height: 300px;
    }
    */
    .vertical {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        img {
            width: 100%;
            height: 50%;
            margin: 0px;
            max-width: 100%;
        }
    }
}

.emergente{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.527);
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    display: none;
}

.cerrar{
    top: 0;
    position: fixed;
    width: 50px;
    height: 50px;
    display: table;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    color: white;
     background-color: #FA5308;

}

.ver__galeria{
    margin: auto;
}

.cerrar:hover {
    background-color: rgb(250, 206, 8);
    cursor: pointer;
}



.galeria__secundaria{
    display: flex;
    flex-direction: column;
   
    img{
        width: 100%;
    }
}

.galeria__secundaria__imagen{
    margin: auto;
    max-width: 700px;
}

.galeria__secundaria__lista{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    img{
        width: 100px;
    }

    img:hover{
        cursor: pointer;
        border: 5px solid #2FAC66;
    }
}

.filtro__sobre {
    text-align: center;
}

.cont__testimonios {}

.seperador {}

.cont__testimonios__lista {
    display: flex;
    flex-direction: row;
}

.testimonio {}

.testimonio__imagen {
    text-align: center;
    padding: 50px;
    img {
        max-width: 200px;
    }
}

.testimonio__informacion {}

.testimonio__informacion__titulo {}

.testimonio_informacion__comentario {}

.cont__fecha {
    background-size: contain;
    background-repeat: no-repeat;
}

.cont__fecha__titulo {
    color: white;
}

.fecha__especifica {
    display: flex;
}

.fecha__espeficica__ver {
    display: flex;
    font-size: 5em;
    text-align: center;
    max-width: 40%;
    width: 400px;
    height: 400px;
    font-weight: bold;
    border-radius: 50px;
    border: 25px solid #5C9F79;
    margin: 0;
    align-items: center;
    background: #FFFFFF;
}

.fecha__especifica__atras,
.fecha__especifica__adelante {
    width: 100px;
    height: 200px;
    background-color: white;
    border: none;
    background-size: contain;
    background-repeat: space;
}

.fecha__especifica__mes {}

.fecha__especifica__dia {}

.fecha__especifica__info {
    width: auto;
    min-width: 60%;
    background: rgba(54, 54, 53, 0.603);
    margin: 0;
    margin: 40px 0;
    padding: 10px 0px 0 80px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.fecha__especifica__info__titulo,
.fecha__especifica__info__hora {
    font-size: 3em;
    text-align: left;
}

.fecha__especifica__info__descripcion {
    font-size: 2em;
}

.fecha__calendario {}

.calendario {
    width: 100%;
    text-align: center;
    font-size: 3em;
    vertical-align: middle;
    td {
        width: 7%;
        height: 100px;
        background: #EDEDED;
    }
    td:hover {
        cursor: pointer;
        background: lightgrey;
    }
}

.calendario__titulares {
    td {
        background: #F9B233;
    }
    td:hover {
        cursor: auto;
        background: #F9B233;
    }
}

.cont__estadistica {}

.cont__estadistica__titulo {
    color: #2FAC66;
    margin: 100px auto;
}

.tabla {
    width: 100%;
    text-align: center;
    font-size: 2em;
    vertical-align: middle;
    tr {
       
        height: 100px;
        background: #EDEDED;
        &:nth-child(odd) {
            background: #EDEDED;
        }
        &:nth-child(even) {
            background: lightgrey;
        }
    }
}

.tabla__titulares {
    td {
        background: white;
    }
    font-weight: bold;
    color: #2FAC66;
}

.cont_tienda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.producto {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #5C9F79;
    margin: 0 20px;
    width: 30%;
    justify-content: space-between;
    transition: all .5s ease;
    border-radius: 30px;
    text-align: center;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .7), inset -2px -2px 3px rgba(0, 0, 0, .1), 2px 2px 10px rgba(0, 0, 0, .1);
    img {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}

.producto:nth-child(2){
    margin-top: 100px;
}



.producto__titulo {
    color: white;
}

.producto__caracteristica {}

.cont__publicidad {}

.publicidad {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    background: #D8EFE2;
    font-size: 3em;
    text-align: center;
    font-size: 1em;
    section {
        margin: 0px;
    }
    img {
        height: 100%;
        ;
    }
    * {
        margin: auto;
    }
    &__cerrar {
        position: absolute;
        width: 50px;
        height: 50px;
        display: table;
        vertical-align: middle;
        text-align: center;
        font-size: 2em;
        color: white;
        background-color: #FA5308;
    }
    &__cerrar:hover{
        background-color: rgb(250, 206, 8);
        cursor: pointer;
    }
}

.publicidad__imagen {
    img {
        width: 100%;
    }
}

.publicidad__contenido {
    width: 60%;
}

.publicidad__secundaria-imagen {
    img {
        width: 100%;
    }
}

.frase {
    font-size: 3em;
    color: #2FAC66;
    text-align: center;
    width: 70%;
    font-weight: bold;
    margin: 80px auto;
}

footer {
    background: #F2F2F2;
}

.pie-pagina {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.pie-pagina__logo {
    img{
        width: 100%;
    }
}

.pie-pagina__contacto {
    text-align: center;
    margin: auto;
    font-size: 2em;
}

.info-contacto {}

.pie-pagina__derechos {
    background: #C6C6C6;
}

.subir {
    font-size: 3em;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50px;
    background: gray;
    color: white;
}

.subir:hover {
    background: lightgrey;
    cursor: pointer;
    color: black;
}